{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'homepage.js') }}"
></script>
<body>
  <div class="row hero">
    <div class="col-md">
      <h1>Climbing Jargon <span class="text-accent">101</span></h1>
      <p>Why are climbers always talking about jugs? What's beta and why don't people like it when people spray it? Learn the lingo or test your grip on climbing terms.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/072/original/How-to-Rock-Climb-A-Beginners-Guide-5.jpg?1704927480"
        alt="Climbing Image 1"
        class="img-fluid"
      />
      <button id="learn-btn" type="button" class="btn btn-secondary btn-lg mt-2">Show me the ropes!</button>
    </div>
    <div class="col-md-6">
      <img
        src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/072/original/How-to-Rock-Climb-A-Beginners-Guide-5.jpg?1704927480"
        alt="Climbing Image 1"
        class="img-fluid"
      />
      <button id="quiz-btn" type="button" class="btn btn-primary btn-lg mt-2">Send it!</button>
    </div>

  <div id="popular-items" class="row"></div>
</body>

{% endblock %}
