<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:," />

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />

    <title>Rock Climbing</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-base">
      <div class="container">
        <a class="navbar-brand text-accent justify-begin" href="/"
          >Rock Climbing</a
        >
        <a class="text-accent" href="/learn/0">Learn</a>
        <a class="text-accent" href="/quiz/0">Quiz</a>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
