{% extends "layout.html" %}

{% block content %}

<script src="{{url_for('static', filename='lesson.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='lesson.css')}}" />
<script>
    let lesson = {{ lesson | tojson}}
</script>

<div>
    <!-- TODO: change to progress bar -->
    <!-- Progress -->
    <div class="row mb-2 d-flex justify-content-center">
        <!-- TODO: pass the number of lessons in somewhere -->
        {{ lesson.id + 1 }} / {{ num_lessons }} 
    </div>

    <!-- Title text -->
    <div class="row mb-2 d-flex justify-content-center">
        <h2> {{ lesson.title }} </h2>
    </div>

    <!-- Body -->
    <div class="row mb-2 d-flex justify-content-center">
        {% if lesson.lesson_type == 'explain' %}
        <div>
            {{ lesson.body.text }}
        </div>

        {% else %}
        <div>
            <!-- TODO: incorporate diff question types -->
            <div class="row mb-1">
                <div class="col-6 answer-col">
                </div>
                <div class="col-6 answer-col">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-6 answer-col">
                </div>
                <div class="col-6 answer-col">
                </div>
            </div>
        </div>

        {% endif %}
    </div>

    <!-- Bottom bar -->
    <div class="row mb-2">
        <!-- Back button -->
        <div class="col-6 d-flex justify-content-center">
            <button id="back-btn" class="btn btn-secondary">Back</button>
        </div>

        <!-- Next/prev button -->
        <div class="col-6 d-flex justify-content-center">
            <button id="next-btn" class="btn btn-primary ">Next</button>
        </div>
    </div>
</div>

{% endblock %}