{% extends "layout.html" %} {% block content %}

<script src="{{url_for('static', filename='quiz.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='lesson.css')}}" />
<script>
  let question = {{ question | tojson}}
  let num_questions = {{num_questions}}
</script>

<div class="viewboard">
  <!-- TODO: change to progress bar -->
  <!-- Progress -->
  <!-- Score -->
  <div class="col-6 d-flex justify-content-center">
    Score: {{ cur_score }} / {{ cur_max }}
  </div>

  <!-- Progress -->
  <div class="progress">
    <div
      class="progress-bar bg-info"
      role="progressbar"
      style="width: {{ (question.id + 1) / num_questions * 100 }}%;"
      aria-valuenow="{{ question.id + 1 }}"
      aria-valuemin="0"
      aria-valuemax="{{ num_questions }}"
    >
      {{ question.id + 1 }} / {{ num_questions }}
    </div>
  </div>
  <div class="row mb-2 d-flex justify-content-center"></div>

  <!-- Title text -->
  <div class="row mb-2 d-flex justify-content-center">
    <h2 id="font-design">{{ question.title }}</h2>
  </div>

  <!-- Body -->
  <div class="row mb-2 d-flex justify-content-center">
    <div id="body">
      {% if question.question_type == "select_images" %}

      <div class="row mb-1">
        <div class="col-6 answer-col"></div>
        <div class="col-6 answer-col"></div>
      </div>
      <div class="row mb-1">
        <div class="col-6 answer-col"></div>
        <div class="col-6 answer-col"></div>
      </div>

      {% elif question.question_type == "dropdowns" %}

      <div class="row mb-3">
        <img src="../static/images/{{ question.body.image }}"/>
      </div>
      <div class="row mb-1">
        <div class="col d-flex justify-content-center">
            <div class="mr-1">
              Left:
            </div>
            <select id="left-dropdown">
              {% for option in question.body.options %}
              <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="mr-1">
              Right:
            </div>
            <select id="right-dropdown">
              {% for option in question.body.options %}
              <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <div class="row">

        <div id="left-feedback" class="col">

        </div>
        <div id="right-feedback" class="col">

        </div>
      </div>

      {% else %}

      <!-- TODO: add more question types -->
      {% endif %}

    </div>
  </div>

  <!-- Bottom bar -->
  <div class="row mb-2">
    <!-- Back button -->
    <div class="col-6 d-flex justify-content-center">
      <!-- <button id="back-btn" class="btn btn-secondary">Back</button> -->
    </div>

    <!-- Next/prev button -->
    <div class="col-6 d-flex justify-content-center">
      <button id="next-btn" class="btn button-primary">Next</button>
    </div>
  </div>
</div>

{% endblock %}
